/* to enable the bold in the patchwork annotation */ 
.page-outer .patchwork-annotation-detail strong,
.page-outer .patchwork-annotation-detail b {
    font-weight: bold;
}

.slideshow-wrapper { height: calc(100vh - 40px); width: 100%; }
.main__content .slideshow-wrapper { height: 800px; }
