.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  &__header {
    height: 20px;
  }
  &__toolbar {
    height: 28px;
    border-bottom: 1px solid grey;
  }
  &__content {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &--horizontal {
    flex-direction: row;
    height: 100%;
    .panel__toolbar {
      height: auto;
      width: 30px;
      border-bottom: 0;
      border-right: 1px solid grey;
    }
  }

}