.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: auto;
  
  &__header {
    height: 20px;
  }
  &__toolbar {
    height: 28px;
    border-bottom: 1px solid grey;
  }
  &__content {
    flex: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  &--horizontal {
    flex-direction: row;
    height: 100%;
    width: auto;
    .panel__content {
      overflow-x: auto;
      overflow-y: hidden;
    }
    .panel__toolbar {
      height: auto;
      width: 30px;
      border-bottom: 0;
      border-right: 1px solid grey;
    }
  }
}